= render "layouts/flash"
.main-section__content
	.example
		.exapmle__content.p0.min-height-250
			.data-table-container
				%header.data-table-header
					.data-table-header__lable
						%span.fs-title User otp verification 
				%br
				= render "otp_verify_form"
				

    