= render "layouts/flash"
.main-section__content
	.example
		.exapmle__content.p0
			.data-table-container
				%header.data-table-header
					.data-table-header__lable
						%span.fs-title Paytm Security Key
				%br
				= render "form"
