- unless smart_listing.empty?
	#wrap
		#external-events{:style=>"width:175px;"}
			#external-events-listing
				%h4 Resources
				- smart_listing.collection.each do |resource|
					.fc-event{"data-id" => resource.id,:style=>" word-break: break-all"} 
						=resource.name   
	= smart_listing.paginate
	= smart_listing.pagination_per_page_links
- else
	%p.warning No Resource Found!                  
