#page-wrapper
  .row
    .page-header
      %h2
        %i.fa.fa-tags
        Status Management
        %small
          Editing status
    .page-container
      = render "layouts/flash"

      = render 'form'