<!-- <label class="col-sm-2 control-label" for="slot_id">Select Slot</label>
<div class="col-sm-10">
	<ol id="selectable" class="ui-selectable" style="width: 100%">
		<% for (var i=0; i <= responseData.length - 1; i++) { %>
			<li class="ui-widget-content ui-selectee" data-id="<%= responseData[i].slot_id %>"><%= responseData[i].start_time %></li>
		<% } %>
	</ol>
</div> -->

<label class="col-sm-2 control-label" for="slot_id">Select Slot</label>
<div class="col-sm-10">
	<select id="slot_id" class="form-control" name="slot_id" required="required">
		<option value="">Select Slot</option>
		<% for( var i=0; i <= responseData.length - 1; i++ ) { %>
			<option value="<%= responseData[i].slot_id %>"><%= responseData[i].slot_name+"("+responseData[i].start_time+" - "+responseData[i].end_time+")" %></option>
		<% } %>
	</select>
</div>