<div class="col-sm-7">  
	<div class="col-sm-12"> 
		<h3></h3>			
			<input type="hidden" name="id" value="<%=package_obj.id %>">
			<input type="text" name="name" value="<%=package_obj.name %>">
			<input type="text" name="ammount" value="<%= package_obj.ammount%>">
			
			
			<select name="tax_type">
			  <option value="simple">Simple</option>
			  <option value="cess">Cess</option>
			</select>
						
	</div>
</div> 