<div class="col-sm-12">  	
	<h3></h3>			
		<div class="col-sm-12">
			<input type="hidden" name="id" value="<%=package_obj.id %>">
		</div>
		<div class="col-sm-12">
			<input type="text" name="name" value="<%=package_obj.name %>">
		</div>
		<div class="col-sm-12">
			<input type="number" name="multiplier" value="<%=package_obj.multiplier %>">
		</div>
		<div class="col-sm-12">
			<select name="basic_inventory_unit">
			  <option value="kg">1Kg</option>
			  <option value="Pc">1Pc</option>
			  <option value="lt">1lt</option>			 
			</select>						
		</div>
	</div>
</div> 