<div class="col-sm-10">
	<input type="hidden" name="id" value="<%=package_obj.id %>">      
</div>
<div class="col-sm-10">
	<input type="text" name="physicalname" value="<%=package_obj.name %>">
</div>	