:javascript
	$(function(){
		$('#form_date').datetimepicker({
			format: 'YYYY-MM-DD',
			useCurrent: false,
		});
	});

- links_arr = [{:title=> "Return Report", :url=>return_item_reports_path,:active_class=>""},{:title=>"Refund Reort",:url=>"#",:active_class=>"col-breadcrumb-selected"}]
- render_page_breadcrumbs(links_arr)  #ApplicationHelper  
= render "layouts/flash"
.main-section__content
	.example
		.data-table-container
			%header.data-table-header
				.data-table-header__label
				.data-table-header__actions
					%a.m-btn.indigo.margin-l-5{:href=>"/return_item_reports/refund_report.csv?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}"}
						%i.mdi-file-file-download.left
						CSV
			= smart_listing_render :refund_by_date