config/database.yml
log/*.log
log/*.*
tmp
Gemfile.lock
*.sublime-*
.svn
.DS_Store
.project
shared/log/*.*
shared/pids/*.*
public/system
public/uploads
.sass-cache
config/initializers/faye.rb
config/environments/production.rb
db/schema.rb
vendor/bundle