- links_arr = [{:title=>"All Resources",:url=>resources_path,:active_class=>""},{:title=>"Resource: #{@resource.name}",:url=>resource_path(@resource),:active_class=>""},{:title=>"Set new commission rule",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper
= render "layouts/flash"
= render 'form'