.col-sm-9.padding-5
  .main-section__content
    .example
      .example__content.p0
        .data-table-container
          %header.data-table-header
            .data-table-header__label
              %span.fs-title Reservation Checked Informations  
              %span.float-r 
      = smart_listing_render :smartlist_check_infos