<div class="form-group info_box">
	<div class="col-sm-3">
		<input type="text" name="key[]" placeholder="Information header" required class="form-control">
	</div>
	<div class="col-sm-3">
		<input type="text" name="value[]" placeholder="Information details" required class="form-control">
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-danger rm_info">Remove</button>
	</div>      
</div>