- if notice 
  .alert.alert-success.alert-dismissible{:role => "alert"}
    %span.fa-stack.fa-lg
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-check.fa-stack-1x.fa-inverse
    %button.close{"data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
      %span.sr-only Close
    = notice
.row
  .page-header
    %h1
      Menu Management
      %small= get_menucard_details(@menu_card_id).name
      %a
        %i.icon-refresh
  .page-container
    = render 'menu_product'