<div class="mail-section__content">
	<div class="example">
		<div class="data-table-container">
			<header class="data-table-header">
				<div class="data-table-header__label">
					<span class="fs-title">
						Account Transactions
						<small>(Customer #<%=customer.id%>)</small>
					</span>
				</div>
			</header>
			<table class="data-table" id="accordion">
				<thead>
					<tr class="data-table__selectable-row">
            <th>Amount</th>
            <th>Purpose</th>
            <th>Remarks</th>
            <th>Date </th>
					</tr>
				</thead>
				<tbody class="panel">
					
				</tbody>
			</table>
		</div>
	</div>
</div>