- links_arr = [{:title=>"All Branch Types",:url=>units_path,:active_class=>""},{:title=>"Edit Branch type: #{@unittype.unit_type_name}",:url=>"#",:active_class=>"col-breadcrumb-selected"}]
- render_page_breadcrumbs(links_arr)
= render "layouts/flash"
= render 'form'
