= stylesheet_link_tag "jquery.json-viewer"
- manual_load_javascript "jquery.json-viewer"
= render "layouts/flash"
.col-sm-2.padding-5
	= render :partial => 'material_thirdparty_callback_filter'
.col-sm-5.padding-5
	.main-section__content
		.example
			.example__content.p0.min-height-500
				.data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
					%header.data-table-header
						.data-table-header__label
							%span.fs-title Callback List                                                               
					= smart_listing_render :thirdparty_callback
.col-sm-5.padding-5
	.main-section__content
		.example
			.example__content.p0.min-height-500
				.data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
					%header.data-table-header
						.data-table-header__label
							%span.fs-title View
					%pre#json-renderer
			