<h6 style="border-bottom: 1px dashed #ccc; padding-top: 8px; padding-bottom: 15px; ">
  Pay using Cash
  <span>
      <input type="checkbox" id="cash_settlement_checkbox" class="settlement_mode_checkbox" data-settlement-mode='cash'/>
      <label for="cash_settlement_checkbox" class='right'></label> 
  </span>
</h6>
<div class="input-field col s4">
  <label for="cash_amount">Amount</label>
</div>
<div class="input-field col s8">
  <input placeholder="Enter Cash Amount" id="cash_settlement_amount" type="text" class="validate settlement_amount_input" data-settlement-mode='cash'>
</div>