#page-wrapper
  .row
    .page-header
      %h2
        %i.fa.fa-tags
        Bill Management
        %small New bills

    .page-container
      = render "layouts/flash"

      = render 'form'
      
