.col-sm-12.padding-5
  .main-section__content
    .example
      .example__content.p0.min-height-405
        .data-table-container
          %header.data-table-header
            .data-table-header__label
              %span.fs-title New Customer 
          
          = render 'sale_customer'