$('#tax_group_edit_modal').closeModal()
Materialize.toast("Tax group updated successfully.", 3000,'green')
$("#taxgroup").find(".taxgroup_of_<%= @tax_group.id %>").html("<td><%=@tax_group.name %></td><td><%=Section.find(@tax_group.section_id).name %></td><td><%= escape_javascript link_to 'Edit', edit_tax_group_path(@tax_group.id),  :remote => true,:class=>'right modal-trigger edit_tax_group_link' %></td>")
