!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "utf-8"}/
		%link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}/
		%link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
		:css
			.header { height: 35px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }
			.invoice-box {
					max-width: 800px;
					margin: auto;
					padding: 30px;
					border: 1px solid #eee;
					box-shadow: 0 0 10px rgba(0, 0, 0, .15);
					font-size: 14px;
					line-height: 24px;
					font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
					color: #555;
			}
			
			.invoice-box table {
					width: 100%;
					line-height: inherit;
					text-align: left;
			}
			
			.invoice-box table td {
					padding: 2px;
					vertical-align: top;
			}
			
			.invoice-box table tr td:nth-child(2) {
					text-align: right;
			}
			
			.invoice-box table tr.top table td {
					padding-bottom: 20px;
			}
			
			.invoice-box table tr.top table td.title {
					font-size: 25px;
					line-height: 25px;
					color: #333;
			}
			
			.invoice-box table tr.information table td {
					padding-bottom: 40px;
			}
			
			.invoice-box table tr.heading td {
					background: #eee;
					border-bottom: 1px solid #ddd;
					font-weight: bold;
			}
			
			.invoice-box table tr.details td {
					padding-bottom: 20px;
			}
			
			.invoice-box table tr.item td{
					border-bottom: 1px solid #eee;
			}
			
			.invoice-box table tr.item.last td {
					border-bottom: none;
			}
			
			.invoice-box table tr.total td:nth-child(2) {
					border-top: 2px solid #eee;
					font-weight: bold;
			}
			#myFooter {
					background-color: #D3D2D2;
					color: white;
			}
			
			#myFooter .row {
					margin-bottom: 60px;
			}
			
			#myFooter .info{
					text-align: justify; 
					color: #afb0b1;
			}
			
			#myFooter ul {
					list-style-type: none;
					padding-left: 0;
					line-height: 1.7;
			}
			
			#myFooter h5 {
					font-size: 18px;
					color: white;
					font-weight: bold;
					margin-top: 30px;
			}
			
			#myFooter .logo{
					margin-top: 10px;
			}
			
			#myFooter .second-bar .logo a{
					color:white;
					font-size: 28px;
					float: left;
					font-weight: bold;
					line-height: 68px;
					margin: 0;
					padding: 0;
			}
			
			#myFooter a {
					color: #d2d1d1;
					text-decoration: none;
			}
			.content{
				 flex: 1 0 auto;
				 -webkit-flex: 1 0 auto;
				 min-height: 200px;
			}
			
			#myFooter{
				 flex: 0 0 auto;
				 -webkit-flex: 0 0 auto;
			}
			
			
			#myFooter a:hover,
			#myFooter a:focus {
					text-decoration: none;
					color: white;
			}
			
			#myFooter .second-bar {
					text-align: center;
					background-color: #D3D2D2;
					text-align: center;
			}
			
			#myFooter .second-bar a {
					font-size: 22px;
					color: #9fa3a9;
					padding: 10px;
					transition: 0.2s;
					line-height: 68px;
			}
			
			#myFooter .second-bar a:hover {
					text-decoration: none;
			}
			
			#myFooter .social-icons {
					
			}
			
			
			#myFooter .facebook:hover {
					color: #0077e2;
			}
			
			#myFooter .google:hover {
					color: #ef1a1a;
			}
			
			#myFooter .twitter:hover {
					color: #00aced;
			}
			
			@media screen and (max-width: 767px) {
					#myFooter {
							text-align: center;
					}
			
					#myFooter .info{
							text-align: center;
					}
			}
			
			@media only screen and (max-width: 600px) {
					.invoice-box table tr.top table td {
							width: 100%;
							display: block;
							text-align: center;
					}
					
					.invoice-box table tr.information table td {
							width: 100%;
							display: block;
							text-align: center;
					}
			}
			
			/** RTL **/
			.rtl {
					direction: rtl;
					font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			}
			
			.rtl table {
					text-align: right;
			}
			
			.rtl table tr td:nth-child(2) {
					text-align: left;
			}
	%body
		.invoice-box
			%textarea.header INVOICE
			%table
				%tr.top
					%td{:colspan => "4"}
						%table
							%tr
								%td.title
									%img{:src => "http://#{@site_url}#{@bill.unit.unit_image.url(:thumb)}"}/
								%td
									Invoice #: 
									=@bill.serial_no
									%br/
									Created: 
									=@bill.recorded_at.strftime("%d-%m-%Y, %I:%M %p")
				%tr.information
					%td{:colspan => "4"}
						%table
							%tr
								%td
									=@bill.unit.unit_name
									%br/
									=@bill.unit.address
									%br
									GST NO:
									=@bill.unit.unit_detail.options[:gst_code]
									%br/
									Phone No:
									=@bill.unit.phone
								%td
									="#{@customer.profile.firstname}""  #{@customer.profile.lastname}"
									%br/
									Mobile:
									=@customer.mobile_no
									%br/
									=@customer.email
				%tr.heading
					%td.font-sz-12 Item
					%td.font-sz-12{:align => "right"} QTY
					%td.font-sz-12{:align => "right"} Price
					%td.font-sz-12{:align => "right", :style => "padding-right:10px !important"} Amount
				-@bill.orders.each do |ord|
					-ord.order_details.each do |order_item|  
						%tr.item
							%td
								=order_item.product_name
							%td{:align => "right"}
								=order_item.quantity
							%td{:align => "right"}
								=order_item.product_price
							%td.font-sz-12{:align => "right", :style => "padding-right:10px !important"}
								=order_item.subtotal
				%tr
					%td{:align => "center", :colspan => "4",:style => "padding:0px !important" }
						%hr{:style => "border-style: dotted;"}/           
				%tr
					%td{:align => "left", :colspan => "2"}
						%table
							%tr
								%td
									%b
										%u Payment Details:
							-if @bill.status != 'cod'		
								-@bill.payments.each do |payment|    
									%tr
										%td
											Payment Mode
											%br
											=payment.paymentmode_type+': '+@bill.grand_total.to_s   
							- else
								%tr
									%td
										COD		

					%td{:align => "right", :colspan => "2"}
						%table{:style => "text-align:right !important" }
							%tr
								%td
									Taxable Amount: 
									=@bill.bill_amount 
							%tr
								%td
									Tax:
									=@bill.tax_amount
							-@bill.bill_tax_amounts.each do |btamt|
								%tr
									%td
										=btamt.tax_class.name+'@'+btamt.tax_class.ammount.to_s+'% '+': ' +btamt.tax_amount.to_s
							%tr
								%td
									%font{:color => "blue", :size => "3"}
										%b
											TOTAL AMOUNT: 
											=@bill.grand_total
							
				 
			%footer#myFooter
				.second-bar
					.container
						.social-icons
							%a.twitter{:href => "https://twitter.com/ClubMudi"}
								%img{:src => "https://img.icons8.com/material/24/000000/twitter.png"}/
							%a.facebook{:href => "https://www.facebook.com/ClubMudi/"}
								%img{:src => "https://img.icons8.com/material/24/000000/facebook.png"}/
							%a.instagram{:href => "https://www.instagram.com/clubmudi/"}
								%img{:src => "https://img.icons8.com/material/24/000000/instagram-new.png"}/

									 
			


