.col-lg-12.col-sm-12.padding-5
	.main-section__content
		.example
			.example__content.p0
				.data-table-container
					.data-table-header
						.data-table-header__label
							%span.fs-title New Reservation
					%br
					.data-table
						= render 'form'

=# link_to 'Back', reservations_path
