<div>
	<table class="data-table">
		<tr style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-2">Monday</td>
			<td class="td-border col-lg-10 droppable" data-day="Monday">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				
			</td>
		</tr>
		<tr data-day="Tuesday" style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-1">Tuesday</td>
			<td class="td-border col-lg-11">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
			</td>
		</tr>
		<tr data-day="Wednesday" style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-2">Wednesday</td>
			<td class="td-border col-lg-10">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
			</td>
		</tr>
		<tr data-day="Thursday" style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-2">Thursday</td>
			<td class="td-border col-lg-10">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
			</td>
		</tr>
		<tr data-day="Friday" style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-2">Friday</td>
			<td class="td-border col-lg-10">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
			</td>
		</tr>
		<tr data-day="Saturday" style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-2">Saturday</td>
			<td class="td-border col-lg-10">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
			</td>
		</tr>
		<tr data-day="Sunday" style="height:45px;" class="data-table__selectable-row day_wise_allocation">
			<td class="td-border col-lg-2">Sunday</td>
			<td class="td-border col-lg-10">
				<span class="card padding-t-b-10"><span class="card-content p10">Pizzastop</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Silvershine</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Annapurna</span></span>
				<span class="card padding-t-b-10"><span class="card-content p10">Yottolabs</span></span>
			</td>
		</tr>
	</table>
</div>
