- links_arr = [{:title=>"Delivery Charge Details", :url=>delivery_charges_path, :active_class=>""}, {:title=>"Edit Delivery charge", :url=>"#",:active_class=>"col-breadcrumb-selected"}]
- render_page_breadcrumbs(links_arr)  #ApplicationHelper 
= render "layouts/flash"
.col-sm-12.padding-5
  .main-section__content
    .example
      .example__content.p0.min-height-405
        .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}

        = render 'form'
