%section
  .col-lg-8.col-lg-offset-2
    .center
      = image_tag("404.png", :height=>"300px")
      %h2 
        %strong The page you are looking for doesn't exist in our servers.
      %h4.grey-text You may have mis-typed the URL. Please check your spelling.
      %br
      %br
      %a.m-btn.blue.waves-effect.waves-light{:href=>"#{root_path}"}
        Return to Dashboard      
      %br
          