- unless smart_listing.empty?
	.panel.panel-default{:style=>"padding-left:20px; padding-right:20px;"}
		%p.text-info *Please click on (+) button to add Zone and (-) to remove it 
		-smart_listing.collection.each do|zone|
			.card.grey
				%b 
					=zone.name
				- if is_allocated_to_area(zone.id) == false
					%a.m-btn.green.m-btn-low-padding.selectable_item_list{:style=>"float:right;","data-item-id"=>zone.id,"data-item-name"=>zone.name,:class=>"action_for_selectable_item_list#{zone.id}"}
						%i.fa.fa-plus
				- else
					%a.m-btn.red.m-btn-low-padding.selectable_item_list{:style=>"float:right;","data-item-id"=>zone.id,"data-item-name"=>zone.name,:class=>"action_for_selectable_item_list#{zone.id}"}
						%i.fa.fa-minus
			%br
	= smart_listing.paginate
-else
	%p.warning No zone found