= javascript_include_tag "zones"
/ - manual_load_javascript "templates/areas/select_user"

= render "layouts/flash"
.main-section__content
	.example
		.data-table-container
			%header.data-table-header
				.data-table-header__label
					%span.fs-title Create new Area
			.example{:style=>"margin-top:20px !important"}
				= render "form"