.card
  .margin-t-15
    %table.data-table
      %thead
        %tr.data-table__selectable-row
          %th.col-lg-2
            = check_box_tag "parent_check", nil, false, :class=>"checkbox-parent-toggle filled-in checked_all_products"
            %label.padding-l-35{:for=>"parent_check"} Product 
          %th.col-lg-1  Quantity
          - if AppConfiguration.get_config_value('barcode_on_catalog_product') == 'enabled'
            %th.col-lg-1  SKU
            %th.col-lg-1  Model No
            %th.col-lg-1  Size
            %th.col-lg-1  Color
            %th.col-lg-1  Batch No
          - if AppConfiguration.get_config_value('retail_menu') == 'enabled'  
            %th.col-lg-1  MRP
          - if AppConfiguration.get_config_value('barcode_on_catalog_product') == 'enabled'
            %th.col-lg-1  Mfg Date
            - if AppConfiguration.get_config_value('stock_expiry_date') == 'enabled'   
              %th.col-lg-1  Exp Date
            -if @stock_production.isStockAdded == 1
              %th.col-lg-1 Print

      %tbody.test
        - if @stock_production.isStockAdded != 1
          = render "adding_to_stock"
        - else
          = render "after_added_to_stock"