:javascript
  $(function() {
    $('#valid_from').datetimepicker({
      format: 'YYYY/MM/DD HH:mm:ss',
    });
    $('#valid_till').datetimepicker({
      format: 'YYYY/MM/DD HH:mm:ss',
    });
  });
= render "layouts/flash"
- links_arr = [{:title=>I18n.t(:manage_calatog), :url=>menu_cards_path,:active_class=>""},{:title=>"#{I18n.t(:label_edit)} #{@menu_card.name}",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper 
= render 'form'
