%a{:href => new_customer_address_path(@customer), "data-remote" => "true"}
  .col.s4
    .card.dotted-card
      .card-content
        %p.mt70
          %center.grey-text
            %i.material-icons.center add
            %br
            %span ADD NEW ADDRESS