= render "layouts/flash"
- links_arr = [{:title=>"Feedback", :url=>feedbacks_path,:active_class=>""},{:title=>"#{I18n.t(:label_add_new)}",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr) 

.col-sm-12.padding-5
  .main-section__content
    .example
      .example__content.p0.min-height-405
        .data-table-container
          %header.data-table-header
            .data-table-header__label
              %span.fs-title New Feedback 
          
          = render 'form'








/ %h1 New feedback

/ = render 'form'

/ = link_to 'Back', feedbacks_path
