.form-group
  = f.label "#{field.label} #{field.is_required ? '*' : ''}", :class=>"col-sm-3 control-label"
  .col-sm-8
    = f.text_area :value, :class=>"materialize-textarea", :value=>@product.public_send(field.attribute_code)