.form-group
  = f.label "#{field.label} #{field.is_required ? '*' : ''}", :class=>"col-sm-3 control-label"
  .col-sm-6
    = f.text_field :value, :required => field.is_required, :value=>@product.public_send(field.attribute_code)