.main-section__content
	.example
		.data-table-container
			%header.data-table-header
				.data-table-header__label
					%span.fs-title Edit Beat
			.example{:style=>"margin-top:20px !important"}
				= render "form"