.row.m0
  .col.l12
    %h4.mb20
      = image_tag("logo_insites.png", :height => "30px")
    .center
      %br
      %br
      %h1.font-weight-200.mt50 Welcome!
      %h5.font-weight-300 Everything looks sparky, lets get started.
      %br
      %br
      %br
      %br
      %br
      = link_to 'Explore inSites', root_path, :class => 'btn-large blue darken-1'
