- links_arr = [{:title=>"Products",:url=>products_path,:active_class=>""},{:title=>"Manage Attributes",:url=>product_attribute_keys_path,:active_class=>""},{:title=>"Add New Attribute",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper    
= render "layouts/flash"
.main-section__content
  .example
    .example__content.p0.min-height-300
      .data-table-container{"aria-multiselectable" => "true", :role => "tablist"}
        %header.data-table-header
          .data-table-header__label
            %span.fs-title Add New Attribute
        = render 'form'
