<!-- <select id="unit_id" class="form-control" name="unit_id"  required = "true"> -->
  <option value="">Select Branch</option> 
  <% for(var j=0; j<units.length; j++) { %>
    <option value="<%= units[j].id %>"><%= units[j].unit_name %></option>
  <%}%>
<!-- </select> -->