- unless smart_listing.empty?
  %table.data-table
    %thead
      %tr.data-table__selectable-row
        %th.col-lg-5= smart_listing.sortable "Colors", "name"
        %th.col-lg-2
          Action
    %tbody
      - smart_listing.collection.each do |object|
        %tr.data-table__selectable-row
          %td=object.color.name
          %td
            .col-sm-7
              - color_status = (ColorProduct.find_by_product_id_and_color_id(@product.id,object.color_id).status == 0) ? true : false
              .switch.padding-5
                %label
                  = check_box_tag :color_product, 'enabled', color_status, {"data-conf-key"=>"color_product","data-value-active"=>0,"data-value-inactive"=>1, "class"=> "update_color_product", "data-product-id"=>@product.id, "data-color-id"=>object.color_id} 
                  %span.lever 
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  .alert.alert-warning
    No Color found