- links_arr = [{:title=>"All Products",:url=>products_path,:active_class=>""},{:title=>"Add new product",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper    
= render "layouts/flash"
= render 'form'  
=# render 'colapse_form'  
.clearfix    