<div class="alert alert-info2">
Product name : <span><strong><%= product_name %></strong></span>
<br/>
Available stock in store : <span><strong><%= product_stock_info %><%= product_unit %></strong></span>
</div>