.form-group.col-sm-12
  = f.label 'cancelation_cause', :class => 'col-sm-2 control-label'
  .col-sm-8
    = f.text_field :title, :required => true, :autofocus => true, :placeholder => "Enter Reason", :class => 'form-control', autocomplete: 'off'
  .col-sm-2
    %a.btn.btn-xs.btn-danger.remove_cancelation_causes{:href => "#", :title => "Delete", 'data-cancelation-cause-id'=>f.object.id}